{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Power of habit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

</head>


<body>

<div class="jumbotron">
    <h1 class="text-center">Power of habit</h1>
</div>

<div class="grid-container">
	<button class="grid-item">1</button>


<div class="dropdown">
  <button class="btn btn-primary grid-item dropdown-toggle" data-toggle="dropdown">Day 1
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
</div>

</body>
</html>